#main{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #000000;
}

:root{
    --main-font: 'Poppins', sans-serif;
}



/*---------------------------------------------------------------------------*/

#header{
    width: 100%;
    height: 80px;
    display: flex;
    position: absolute;
    top: 0;
}

    #header nav{
        margin: auto;
        width: 85%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        #header nav .logo{
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
        }
            #header nav .logo h1{
                color: #ffffff;
                font-family: var(--main-font);
                font-size: 20px;
            }
                #header nav .logo h1 span{
                    color: #870000;
                }
        #header ul{
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
        }
            #header ul li{
                margin-left: 10px;
                color: #ffffff;
                font-family: var(--main-font);
                font-size: 15px;
                text-decoration: none;
                list-style: none;
            }



/*---------------------------------------------------------------------------*/

#inicio{
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, #000000 0%, #000000 40%, #2D2D2D 100%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 30% 60%;
}

    #inicio main{
        margin: auto;
        width: 85%;
        height: 100%;
        grid-row-start: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
        #inicio main h1{
            margin-bottom: 20px;
            color: #ffffff;
            font-family: var(--main-font);
            font-size: 60px;
            font-weight: 800;
            line-height: 1;
        }
        #inicio main h2{
            margin: 0;
            background: -webkit-linear-gradient(#870000 0%, #000000 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #ffffff;  ;
            font-family: var(--main-font);
            font-size: 40px;
            font-weight: 800;
        }
        #inicio main p{
            margin: 0;
            color: #ffffff;
            font-family: var(--main-font);
            font-size: 25px;
            font-weight: 700;
        }

    #inicio aside{
        width: 100%;
        height: 100%;
        grid-row-start: 3;
        display: flex;
        position: relative;
    }
        #inicio aside .camilo{
            z-index: 100;
            margin: auto;
            width: auto;
            height: 100%;
        }
        #inicio aside .board{
            margin: auto;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            display: flex;
            }
            #inicio aside .board img{
                margin: auto;
                width: 100%;
                height: auto;
                filter: blur(2px) brightness(60%);
                }



/*---------------------------------------------------------------------------*/

#aboutme{
    width: 100%;
    height: 900px;
    background-color: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}
    .shadow-aboutme{
        width: 100%;
        height: 200px;
        background: linear-gradient(360deg, #000000 0%, #2D2D2D 100%);
        position: absolute;
        top: 0;
    }

    #aboutme nav{
        z-index: 100;
        padding-right: 10%;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        }
        #aboutme nav h1{
            margin: 0;
            color: #ffffff;
            font-family: var(--main-font);
            font-size: 35px;
            font-weight: 700;
        }
        #aboutme nav .divition-nav{
            margin-top: 5px;
            width: 120px;
            height: 6px;
            background-color: #870000;
            border-radius: 5px;
        }

    #aboutme main{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        #aboutme main section{
            margin-bottom: 20px;
            width: 80%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
            #aboutme main section p{
                margin: 0;
                color: #ffffff;
                font-family: var(--main-font);
                font-size: 15px;
                font-weight: 500;
            }

        #aboutme main article{
            margin: auto;
            width: 80%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
            #aboutme main article h1{
                margin: 0;
                color: #ffffff;
                font-family: var(--main-font);
                font-size: 25px;
                font-weight: 700;
            }
            #aboutme main article .divition{
                margin: 5px 0;
                width: 100px;
                height: 3px;
                background-color: #870000;
                border-radius: 5px;
            }
            #aboutme main article .elo{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                }
                #aboutme main article .elo p{
                    margin-right: 10px;
                    color: #ffffff;
                    font-family: var(--main-font);
                    font-size: 20px;
                    font-weight: 700;
                    }#aboutme main article .elo p span{
                        font-size: 15px;
                        font-weight: 300;
                        }
            #aboutme main article .rank{
                margin-top: 10px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                }
                #aboutme main article .rank div{
                    margin-right: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    }
                #aboutme main article .rank h3{
                    color: #870000;
                    font-family: var(--main-font);
                    font-size: 10px;
                    font-weight: 300;
                }
                #aboutme main article .rank p{
                    margin-top: 3px;
                    color: #ffffff;
                    font-family: var(--main-font);
                    font-size: 20px;
                    font-weight: 700;
                }

    #aboutme Aside{
        width: 100%;
        height: auto;
        display: flex;
        position: relative;
    }
        #aboutme Aside img{
            margin: auto;
            width: 250px;
            height: 250px;
            object-fit: cover;
            border-radius: 20px;
        }
        .shadow-aboutme__img{
            width: 100%;
            height: 50%;
            background: linear-gradient(180deg, #00000000 0%, #000000 100%);
            position: absolute;
            bottom: 0;
        }



/*---------------------------------------------------------------------------*/
#awards{
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    position: relative;
}

    #awards nav{
        padding-right: 10%;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        }
        #awards nav h1{
            margin: 0;
            color: #ffffff;
            font-family: var(--main-font);
            font-size: 35px;
            font-weight: 700;
        }
        #awards nav .divition-nav{
            margin: 0;
            width: 120px;
            height: 6px;
            background-color: #870000;
            border-radius: 5px;
        }

    #awards main{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
        #awards main .card{
            margin: 50px;
            padding: 15px;
            width: 200px;
            height: 300px;
            border-radius: 20px;
            background: linear-gradient(180deg, #00000000 0%, #870000d0 100%);
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 60% 15% 10% 15%;
        }
                #awards main .card img{
                    margin: auto;
                    height: 100%;
                    width: auto;
                }
                #awards main .card h1{
                    margin: auto 0;
                    color: #ffffff;
                    font-family: var(--main-font);
                    font-size: 15px;
                    font-weight: 700;
                }
                #awards main .card p{
                    margin: auto 0;
                    color: #ffffff;
                    font-family: var(--main-font);
                    font-size: 15px;
                    font-weight: 200;
                }
                #awards main .card h2{
                    margin: auto 0;
                    color: #000000;
                    font-family: var(--main-font);
                    font-size: 40px;
                    font-weight: 700;
                }



/*---------------------------------------------------------------------------*/
#contact{
    width: 100%;
    height: 400px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
}

    #contact nav{
        padding: 0 10%;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        #contact nav .logo-contact{
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
        }
            #contact nav .logo-contact h1{
                color: #ffffff;
                font-family: var(--main-font);
                font-size: 20px;
                font-weight: 700;
                }
                #contact nav .logo-contact h1 span{
                    color: #870000;
                    }
        #contact nav .title-contact{
            width: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }
            #contact nav .title-contact h1{
                margin: 0;
                color: #ffffff;
                font-family: var(--main-font);
                font-size: 30px;
                font-weight: 700;
            }
            #contact nav .title-contact .divition-nav{
                margin-top: 5px;
                width: 120px;
                height: 6px;
                background-color: #870000;
                border-radius: 5px;
            }

    #contact main{
        margin: auto;
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        #contact main section{
            margin: auto;
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
            #contact main section form{
                z-index: 100;
                margin: auto 20px;
                width: 50px;
                height: 50px;
                background: linear-gradient(#000000 0%, #870000 100%);
                border-radius: 50%;
                display: flex;
            }
                #contact main section form button{
                    margin: auto;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: none;
                    display: flex;
                }
                    #contact main section form button i{
                        margin: auto;
                        font-size: 20px;
                        color: #ffffff;
                    }

    #contact article{
        margin: auto;
        width: 100%;
        height: auto;
        display: flex;
        }
        #contact article img{
            z-index: 100;
            margin: auto;
            width: 70%;
            height: auto;
        }



/*---------------------------------------------------------------------------*/
#footer{
    width: 100%;
    height: 50px;
    background-color: #000000;
    display: flex;
    }
    #footer h1{
        z-index: 100;
        margin: auto;
        color: #ffffff;
        font-family: var(--main-font);
        font-size: 12px;
        font-weight: 500;
        }#footer h1 span{
            color: #870000;
            }



/*---------------------------------------------------------------------------*/
.shadow-bot{
        width: 100%;
        height: 200px;
        background: linear-gradient(180deg, #000000 0%, #2D2D2D 100%);
        position: absolute;
        bottom: 0;
    }